.jumbotron {
    color: white;
    background-color:#1f1c1c
}

.jumbotron p {
    font-size: 12px;
    position: relative;
}

.jumbotron h1 {
    font-size: 36px;
    position: relative;
}

#meeple-logo {
	width: 50%;
    float: right;
}
